li {
  font-size: 20px;
  white-space: nowrap;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 1px;
}

body {
  background-color: rgb(30, 30, 30);
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
  color: #007acc;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  flex-flow: row wrap;
  position: sticky;
  top: 0px;
  background-color: #202020;
  z-index: 1000;
}

h1 {
  color: #007acc;
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  font-size: 70px;
  margin-top: 15px;
  margin-bottom: 0px;
  width: 50%;
  flex-grow: 1;
  white-space: nowrap;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: auto;
  list-style-type: none;
  margin-top: 35px;
  margin-right: 30px;
  margin-bottom: 0px;
}

.aboutmain {
  color: white;
  font-family: "Abhaya Libre", serif;
  font-size: x-large;
}

.thispage {
  color: #cc5200;
}

.top div {
  position: relative;
  width: 45%;
}
.shortd {
  font-size: 50px;
  padding: 3%;
  padding-left: 40px;
  padding-top: 1;
  z-index: -2;
}

.top img {
  position: relative;
  width: 100%;
  height: 60%;
  padding: 5%;
  padding-top: 15%;
  animation: fadeinout 8s infinite;
  opacity: 0;
  overflow: hidden;
  z-index: -3;
}

.top #code {
  position: absolute;
  top: 0;
  animation: fadeoutin 8s infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeoutin {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

b {
  color: yellow;
}

mark {
  background-color: #cc5200;
  color: white;
}

strong {
  color: #ef3340;
}

em {
  color: #003a7a;
  font-weight: bolder;
}

i {
  text-decoration: underline;
  text-decoration-color: #8433ef;
}

.middle {
  z-index: -4;
}

.bottom {
  z-index: -5;
  margin-top: 10%;
}

h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 0px;
  width: 70%;
  flex-grow: 1;
  white-space: nowrap;
  background-image: linear-gradient(to right, #007aac, #1e1e1e);
}

.container {
  display: flex;
  flex-flow: row nowrap;
}

.middle video {
  z-index: 0;
  width: 50%;
  height: 50%;
  padding: 3%;
  padding-top: 1;
}

.middle p {
  font-size: 50px;
  width: 40%;
  margin-bottom: 0;
  margin-top: 10px;
}

.bottom p {
  font-size: 50px;
  width: 55%;
  padding: 3%;
  margin-top: 10px;
}

.bottom video {
  height: 60%;
  padding: 3%;
}

span {
  font-size: 30px;
  font-family: "Lora", serif;
}

@media (max-width: 1274px) {
  header {
    display: flex;
    flex-flow: row nowrap;
  }

  header h1 {
    font-size: 300%;
  }
  .container {
    display: flex;
    flex-flow: column wrap;
  }

  .top div {
    width: 90%;
  }

  .top img {
    height: 100%;
    width: 100%;
    padding-top: 0;
  }

  #code {
    height: 85%;
  }

  .container p {
    font-size: 50px;
    width: 90%;
    padding: 3%;
    padding-left: 40px;
    padding-top: 1;
    order: 0;
  }

  .container video {
    order: 1;
    width: 95%;
  }

  .bottom p {
    width: 50%;
  }

  .bottom video {
    padding-top: 10%;
    width: 40%;
  }

  .container2 {
    display: flex;
    flex-flow: row nowrap !important;
  }
}
