body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #4c4177;
  background-image: linear-gradient(325deg, #2a5470 0%, #1e1e1e 60%);
  font-size: 1.5rem;
}

.container {
  padding: 2rem;
  padding-bottom: 400px;
  margin: 0 auto;
  max-width: 800px;
}

.top {
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: white;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.circle {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

h1 {
  font-family: "montserrat", sans-serif;
  color: #007acc;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-family: "Abhaya Libre", serif;
}

h2 {
  font-family: "montserrat", sans-serif;
  color: #007acc;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.75rem;
}

.fas {
  font-size: 1rem;
}

span {
  color: #cc5200;
  font-size: 1.75rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #007acc;
}

::-webkit-scrollbar {
  width: 1px;
}

li {
  font-size: 80%;
  white-space: nowrap;
}

ul {
  display: flex;
  position: absolute;
  top: 3%;
  margin-left: 20%;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 50%;
  height: auto;
  list-style-type: none;
}

.topnav {
  text-decoration: none;
  color: #007acc;
  font-family: "Montserrat", sans-serif;
}

header a:hover {
  color: white;
}

.thispage {
  color: #cc5200;
}
